
* {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}
.current_player_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
}
.box:hover {
    background-color: rgb(88, 28, 122);;
}
.box {
    border-radius: 8px;
    background-color: rgb(146, 76, 187);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box p {
    font-size: 4rem;
    color:aliceblue;
}
.restart {
    display: flex;
    align-items: center;
    justify-content: center;
}
#restart_button {
    width: 100px;
    height: 45px;
    background-color: beige;
    border-radius: 8px;
    cursor: pointer;
}
#restart_button:hover {
    background-color: rgb(187, 187, 175);
}
.elemento_bloqueado {
    cursor: not-allowed;
}